h1 {
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

section {
  width: 200px;
}

img {
  width: 100%;
}

.infos {
  cursor: pointer;
  text-decoration: underline;
}
